
.container{
    max-width: 90%;
    width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
  }
  .text{
      margin-top: 50px;
      height: 60%;
     
      color: #f20044;
      display: flex;
        
      flex-direction: column;
      border: #f20044 solid 2px;
      padding: 40px;
      border-radius: 20px;
      gap: 20px;
  
      
  }
  .scrollable{
      height: 99%;
      overflow: auto;
  }
  .scrollable::-webkit-scrollbar {
      width: 8px; /* Ancho del scrollbar */
    }
    
  .scrollable::-webkit-scrollbar-thumb {
      
      overflow: auto;
      background-color: #f20044; /* Color del scrollbar */
      border-radius: 4px; /* Bordes redondeados */
    
     
    }
    img{
        width: 300px;
        margin: 0 auto;
        display: block;
    }