<div class="container">

    <div class="text">
        <div class="scrollable">
            <p>Querida Amor,</p>
            <p>
                Hoy, quiero celebrar lo más significativo en este día: mi amor hacia ti. Eres quien ha proporcionado la
                vitalidad que necesitaba para avanzar. Por eso, hoy te entrego el símbolo del árbol de la vida, para que
                nuestra trayectoria jamás se detenga y la vida continúe en constante evolución, moldeando nuevas
                existencias y cultivando un legado que nuestros hijos y nietos puedan admirar. Quiero que las
                generaciones venideras conozcan y sientan el amor que entre nosotros hemos forjado, alimentado y
                permitido crecer.
            </p>
            <p>Eres mi todo.</p>
            <div style="width: 100%;">
                <img src="../../../assets/arbol.svg">
            </div>
    
        </div>

    </div>


</div>