<div class="container">
    
    <div class="text">
        <div class="scrollable">
            <p>Querida Amor,</p>

            <p>Hay cosas que desconoces, tal vez porque las guardo, porque han causado mucho daño. A pesar de lo que tu
                madre pueda decir sobre mis 25 años, he vivido más que ella y que muchos. Nunca he poseído mucho, salvo dos
                tesoros: el amor incondicional de mi abuela y el de mi madre.</p>
    
            <p>Siento que mi vida siempre ha estado plagada de adversidades, como si hubiera atraído lo negativo, hasta el
                día en que te encontré.</p>
    
            <p>Para comenzar, permíteme regresar al principio. Raramente hablo de mi familia, porque cada recuerdo duele.
                Desde temprana edad, perdí seres queridos. A los 25, la pérdida de mi abuela aún se siente como una herida
                fresca. Imagina a un niño de apenas 7 años perdiendo a quien era su mundo, mi abuelo Joselin, quien llenaba
                mis días con su presencia constante.</p>
    
            <p>El sufrimiento persistió. La vida, incesante, ha golpeado una y otra vez. Mudarme a Don Benito fue otro
                revés: sin amigos, siempre solo, hasta que conocí a Antonio. Nos volvimos inseparables. Sin embargo, llegó
                una época oscura: los problemas de mi padre y su batalla con el alcohol, detalles que prefiero no abordar.
            </p>
    
            <p>Con el tiempo, las cosas mejoraron con mi padre, logré graduarme con gran esfuerzo y surgió otra persona,
                Mayte. No hablo de las anteriores, ninguna me hizo tanto daño como ella. Después de tantas cicatrices, a
                veces duele, como un miembro fantasma. Confié en ella para que me entendiera y, desafortunadamente, me
                decepcionó profundamente.</p>
    
            <p>Conocí a Laura mientras lidiaba con ciertos problemas. A pesar de su intención, no pudo ayudarme. Hasta que
                encontré a una chica rubia con heterocromía, cuya alegría contrastaba con un pasado tan oscuro como el mío.
            </p>
    
            <p>Me enamoré perdidamente de esa niña y luché por ella. Sé que tomamos decisiones difíciles, incluso pasé por
                malos momentos con mi abuela. Pero todo esto ha restaurado algo que había perdido: la esperanza en alguien,
                una esperanza que ni los peores momentos ni los demonios podrán vencer. Juntos, somos chispas
                insignificantes, pero juntas, creamos el Big Bang, expandiéndonos sin que nadie pueda detenernos.</p>
    
    
        </div>
       
    </div>
    
    <div style="display: flex; justify-content: flex-end; width: 100%;">
        <button class="btn" [routerLink]="['../fin']" >Continuar </button>

    </div>
</div>