@import 'scss/variables';
@import 'scss/mixin';


* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-color: $color-primary;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 40px;
    border-radius: 20px;

}

.btn {
    color: $color-secundary ;
    background-color: transparent;
    border: $color-secundary solid 3px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 50px;
    outline: none;
    cursor: pointer;
    font-family: 'Lovers Quarrel', cursive;

    &:hover {
        background-color: $color-secundary ;
        color: $color-primary;
    }
}

.container {
    @include flex();
    max-width: 90%;
    width: 1200px;
    height: 100vh;
    margin: auto;
    gap: 20px;

}

.text {
    margin-top: 50px;
    height: 60%;
    color: $color-secundary ;
    display: flex;
    flex-direction: column;
    border: $color-secundary solid 2px;
    padding: 40px;
    border-radius: 20px;
    gap: 20px;


}

.scrollable {
    height: 99%;
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    overflow: auto;
    background-color: $color-secundary ;
    border-radius: 4px;
}


img {
    width: 300px;
    margin: 0 auto;
    display: block;
}