.heart {
    @include area-150px;
    position: relative;
    background-color: $color-rojo ;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px $color-secundary;
    animation: palpitar .5s linear infinite alternate;

    &::before {
        @include area-150px;
        @include shadow;
        content: '';
        position: absolute;
        background-color: $color-rojo ;
        right: 50%;
    }

    &::after {
        @include area-150px;
        @include shadow;
        content: '';
        position: absolute;
        background-color: $color-rojo ;
        top: -50%;
    }
}

.container {
    @include flex();
    width: 100%;
    height: 100vh;
    gap: 80px;
}

@keyframes palpitar {
    0% {
        transform: rotate(45deg) scale(1.10);
    }

    80% {
        transform: rotate(45deg) scale(1.0);
    }

    80% {
        transform: rotate(45deg) scale(.8);
    }

}